.cart {
  position: absolute;
  top: 70px;
  right: 16px;
  min-height: 20vh;
  max-height: 80vh;
  min-width: 300px;
  max-width: 40%;
  background-color: white;
  border: 1px solid black;
  padding: 30px 10px;
  overflow-y: auto;
}

.closeBtn {
  position: absolute;
  margin: 0;
  right: 5px;
  top: 5px;
  color: black;
}

.closeBtn:hover {
  color: red;
  transition: 0.1s;
  cursor: pointer;
  scale: 1.1;
}

.cartItem {
  min-width: 210px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 10px;
  position: relative;
  border: 1px solid black;
  border-radius: 10px;
  margin: 10px 20px;
  padding: 10px;
}

.cartImgContainer {
  width: 170px;
  height: 130px;
}

.cart img {
  height: 100%;
}

.deleteBtn {
  color: red;
  position: absolute;
  bottom: -5px;
  right: 15px;
}

.deleteBtn:hover {
  cursor: pointer;
  scale: 1.1;
}

.totalPrice {
  text-align: right;
  margin-right: 30px;
  font-weight: bold;
}
