.fullItem {
  display: grid;
  grid-template-areas:
    'A A'
    'B C'
    '. D';
  gap: 5px;
  align-items: center;
}

.fullItemName {
  grid-area: A;
}

.fullItemImg {
  grid-area: B;
  width: 300px;
}

.fullItemDescription {
  grid-area: C;
}

.fullItemPrice {
  grid-area: D;
}
