.headerTop {
  position: relative;
  height: 60px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.headerMenu {
  display: flex;
  gap: 20px;
  align-items: center;
}

.headerMenuNav {
  display: flex;
  gap: 20px;
}

.headerMenuItem {
  border: 1px solid transparent;
  padding: 3px;
  text-decoration: none;
  color: black;
}

.headerMenuItem:hover {
  scale: 1.1;
  cursor: pointer;
  border-bottom: 1px solid black;
  padding: 3px;
}

.cartArea {
  position: relative;
  padding: 0 5px;
}

.cartArea:hover {
  cursor: pointer;
  scale: 1.2;
  transition: 0.2s;
}

.cartValue {
  position: absolute;
  color: red;
  border: 1px solid red;
  border-radius: 50%;
  background-color: white;
  right: 0;
  bottom: 0;
  margin: 0;
  padding: 0 4px;
  font-size: 0.6em;
}

.siteName {
  color: white;
  text-decoration: none;
}

.headerImg {
  min-height: 300px;
  display: flex;
  justify-content: center;
  align-items: center;
  color: white;
  background-image: url('https://mykaleidoscope.ru/uploads/posts/2020-03/1583589128_5-p-dizain-intererov-garazhei-9.jpg');
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
}
